<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- The character set should be utf-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- Enables media queries -->
    <meta name="viewport" content="width=device-width"/>
    <!-- Link to the email's CSS, which will be inlined into the email -->
    <link rel="stylesheet" href="../css/styles.css" inline>
</head>
<body>
<table class="body">
    <tr>
        <td>
            <table class="bg-white">
                <tbody>
                    <tr>
                        <td>
                            <center>
                                <container>
                                    <spacer size="20"></spacer>
                                </container>
                                <table align="center" class="container wrap">
                                    <tbody>
                                        <tr>
                                            <td align="center">
                                                <table class="row collapse">
                                                    <tbody>
                                                        <tr>
                                                            <th class="small-6 large-6 columns first">
                                                                <table>
                                                                    <tr>
                                                                        <th>
                                                                            <a href="#"><img src="http://layoutmain.esy.es/mail/img/logo-c.png" alt="logo"></a>
                                                                        </th>
                                                                    </tr>
                                                                </table>
                                                            </th>
                                                            <th class="small-6 large-6 columns last">
                                                                <table>
                                                                    <tr>
                                                                        <th>
                                                                            <spacer size="10"></spacer>
                                                                            <p class="text-right"><a href="#" class="tiny-text">View In Browser</a></p>
                                                                        </th>
                                                                    </tr>
                                                                </table>
                                                            </th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </center>
                        </td>
                    </tr>
                </tbody>
            </table>
            <center>
                <table class="pic">
                    <tbody>
                        <tr>
                            <td class="small-12 large-12 columns">
                                <a href="#">
                                    <img src="http://layoutmain.esy.es/mail/img/c1.png" alt="">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <container class="no-bg">
                    <spacer size="30"></spacer>
                </container>
                <container class="no-bg wrap2 icon-group-main">
                    <row>
                        <columns>
                            <table class="row collapse icon-group">
                                <tbody>
                                    <tr>
                                        <th class="small-12 large-6 br_bottom columns first">
                                            <table class="row collapse">
                                                <tbody>
                                                    <tr>
                                                        <th class="small-6 large-6 columns first" align="center" valign="middle">
                                                            <container>
                                                                <spacer size="25"></spacer>
                                                            </container>
                                                            <a href=""><img src="http://layoutmain.esy.es/mail/img/icon1.png" alt=""></a>
                                                            <container>
                                                                <spacer size="13"></spacer>
                                                            </container>
                                                            <p class="pb text-center">Free Delivery</p>
                                                        </th>
                                                        <th class="small-6 large-6 columns" align="center" valign="middle">
                                                            <container>
                                                                <spacer size="25"></spacer>
                                                            </container>
                                                            <a href=""><img src="http://layoutmain.esy.es/mail/img/icon2.png" alt=""></a>
                                                            <container>
                                                                <spacer size="13"></spacer>
                                                            </container>
                                                            <p class="pb text-center">Return Policy</p>
                                                        </th>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table class="row collapse">
                                                <tbody>
                                                    <tr>
                                                        <th class="small large-12 columns" align="center" valign="middle">
                                                            <container>
                                                                <spacer size="20"></spacer>
                                                            </container>
                                                            <a href=""><img src="http://layoutmain.esy.es/mail/img/icon3.png" alt=""></a>
                                                            <container>
                                                                <spacer size="13"></spacer>
                                                            </container>
                                                            <p class="pb text-center">Payment</p>
                                                        </th>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </th>
                                        <th class="small-12 large-6 br_bottom columns last">
                                            <table class="row collapse">
                                                <tbody>
                                                    <tr>
                                                        <th class="small-6 large-6 columns first" align="center" valign="middle">
                                                            <container>
                                                                <spacer size="20"></spacer>
                                                            </container>
                                                            <a href=""><img src="http://layoutmain.esy.es/mail/img/icon4.png" alt=""></a>
                                                            <container>
                                                                <spacer size="15"></spacer>
                                                            </container>
                                                            <p class="pb text-center">Discount</p>
                                                        </th>
                                                        <th class="small-6 large-6 columns" align="center" valign="middle">
                                                            <container>
                                                                <spacer size="20"></spacer>
                                                            </container>
                                                            <a href=""><img src="http://layoutmain.esy.es/mail/img/icon5.png" alt=""></a>
                                                            <container>
                                                                <spacer size="3"></spacer>
                                                            </container>
                                                            <p class="pb text-center">New collection</p>
                                                        </th>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table class="row collapse">
                                                <tbody>
                                                    <tr>
                                                        <th class="small large-12 columns" align="center" valign="middle">
                                                            <container>
                                                                <spacer size="20"></spacer>
                                                            </container>
                                                            <a href=""><img src="http://layoutmain.esy.es/mail/img/icon6.png" alt=""></a>
                                                            <container>
                                                                <spacer size="3"></spacer>
                                                            </container>
                                                            <p class="pb text-center">About us</p>
                                                        </th>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </columns>
                    </row>
                </container>
                <container class="no-bg">
                    <spacer size="30"></spacer>
                </container>
                <table class="container title-main no-bg">
                    <tbody>
                        <tr class="row">
                            <td class="small-12 large-12 columns">
                                <h2 class="head">
                                    WEEKEND OFFER
                                </h2>
                                <hr color="#ffffff">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <container class="no-bg product shadow">
                    <row>
                        <columns large="4">
                            <table class="prod-item">
                                <tbody>
                                    <tr class="row">
                                        <td class="prod-item--first" valign="middle" align="center">
                                            <a href="#">
                                                <img src="http://layoutmain.esy.es/mail/img/prod1.png" align="center" class="float-center" alt="" height="">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="5px" style="font-size:5px;line-height:5px;"></td>
                                    </tr>
                                    <tr class="row">
                                        <td class="" align="center">
                                            <h3 class="item-name text-center">T-Shirts</h3>
                                            <p class="item-price text-center">MIN <span>50%</span> OFF</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </columns>
                        <columns large="4">
                            <table class="prod-item">
                                <tbody>
                                    <tr class="row">
                                        <td class="prod-item--first" valign="middle" align="center">
                                            <a href="#">
                                                <img src="http://layoutmain.esy.es/mail/img/prod2.png" align="center" class="float-center" alt="">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="5px" style="font-size:5px;line-height:5px;"></td>
                                    </tr>
                                    <tr class="row">
                                        <td class="" align="center">
                                            <h3 class="item-name text-center">Shoes</h3>
                                            <p class="item-price text-center">UPTO <span>60%</span> OFF</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </columns>
                        <columns large="4">
                            <table class="prod-item">
                                <tbody>
                                    <tr class="row">
                                        <td class="prod-item--first" valign="middle" align="center">
                                            <a href="#">
                                                <img src="http://layoutmain.esy.es/mail/img/prod3.png" align="center" class="float-center" alt="">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="5px" style="font-size:5px;line-height:5px;"></td>
                                    </tr>
                                    <tr class="row">
                                        <td class="" align="center">
                                            <h3 class="item-name text-center">Shirts</h3>
                                            <p class="item-price text-center">MIN <span>30%</span> OFF</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </columns>
                    </row>
                </container>
                <container class="no-bg product shadow">
                    <row>
                        <columns large="4">
                            <table class="prod-item">
                                <tbody>
                                <tr class="row">
                                    <td class="prod-item--first" valign="middle" align="center">
                                        <a href="#">
                                            <img src="http://layoutmain.esy.es/mail/img/prod4.png" align="center" class="float-center" alt="" height="">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="5px" style="font-size:5px;line-height:5px;"></td>
                                </tr>
                                <tr class="row">
                                    <td class="" align="center">
                                        <h3 class="item-name text-center">Bags</h3>
                                        <p class="item-price text-center">MIN <span>40%</span> OFF</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </columns>
                        <columns large="4">
                            <table class="prod-item">
                                <tbody>
                                <tr class="row">
                                    <td class="prod-item--first" valign="middle" align="center">
                                        <a href="#">
                                            <img src="http://layoutmain.esy.es/mail/img/prod5.png" align="center" class="float-center" alt="">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="5px" style="font-size:5px;line-height:5px;"></td>
                                </tr>
                                <tr class="row">
                                    <td class="" align="center">
                                        <h3 class="item-name text-center">Cooling Glass</h3>
                                        <p class="item-price text-center">UPTO <span>50%</span> OFF</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </columns>
                        <columns large="4">
                            <table class="prod-item">
                                <tbody>
                                <tr class="row">
                                    <td class="prod-item--first" valign="middle" align="center">
                                        <a href="#">
                                            <img src="http://layoutmain.esy.es/mail/img/prod6.png" align="center" class="float-center" alt="">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="5px" style="font-size:5px;line-height:5px;"></td>
                                </tr>
                                <tr class="row">
                                    <td class="" align="center">
                                        <h3 class="item-name text-center">Jeans</h3>
                                        <p class="item-price text-center">MIN <span>60%</span> OFF</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </columns>
                    </row>
                </container>
                <container class="no-bg">
                    <spacer size="20"></spacer>
                </container>
                <table class="pic">
                    <tbody>
                    <tr>
                        <td class="small-12 large-12 columns">
                            <a href="#">
                                <img src="http://layoutmain.esy.es/mail/img/c2.png" alt="">
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <container class="no-bg">
                    <spacer size="40"></spacer>
                </container>
                <table class="container title-main no-bg">
                    <tbody>
                        <tr class="row">
                            <td class="small-12 large-12 columns">
                                <h2 class="head">LATEST COLLECTION</h2>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <container class="no-bg product second">
                    <row>
                        <columns large="6">
                            <table class="prod-item">
                                <tbody>
                                <tr class="row">
                                    <td class="prod-item--first" valign="middle" align="center">
                                        <a href="#">
                                            <img src="http://layoutmain.esy.es/mail/img/prod7.png" align="center" class="float-center" alt="" height="">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="10px" style="font-size:10px;line-height:10px;"></td>
                                </tr>
                                <tr class="row">
                                    <td class="" align="center">
                                        <p class="item-price-sm small-text-center">Shirts</p>
                                        <spacer size="5"></spacer>
                                        <p class="item-price-sm small-text-center">$99</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </columns>
                        <columns large="6">
                            <table class="prod-item">
                                <tbody>
                                <tr class="row">
                                    <td class="prod-item--first" valign="middle" align="center">
                                        <a href="#">
                                            <img src="http://layoutmain.esy.es/mail/img/prod8.png" align="center" class="float-center" alt="" height="">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="10px" style="font-size:10px;line-height:10px;"></td>
                                </tr>
                                <tr class="row">
                                    <td class="" align="center">
                                        <p class="item-price-sm small-text-center">T-shirts</p>
                                        <spacer size="5"></spacer>
                                        <p class="item-price-sm small-text-center">$79</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </columns>
                    </row>
                </container>
                <container class="no-bg product second">
                    <row>
                        <columns large="6">
                            <table class="prod-item">
                                <tbody>
                                <tr class="row">
                                    <td class="prod-item--first" valign="middle" align="center">
                                        <a href="#">
                                            <img src="http://layoutmain.esy.es/mail/img/prod9.png" align="center" class="float-center" alt="" height="">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="10px" style="font-size:10px;line-height:10px;"></td>
                                </tr>
                                <tr class="row">
                                    <td class="" align="center">
                                        <p class="item-price-sm small-text-center">Leggings</p>
                                        <spacer size="5"></spacer>
                                        <p class="item-price-sm small-text-center">$69</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </columns>
                        <columns large="6">
                            <table class="prod-item">
                                <tbody>
                                <tr class="row">
                                    <td class="prod-item--first" valign="middle" align="center">
                                        <a href="#">
                                            <img src="http://layoutmain.esy.es/mail/img/prod10.png" align="center" class="float-center" alt="" height="">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="10px" style="font-size:10px;line-height:10px;"></td>
                                </tr>
                                <tr class="row">
                                    <td class="" align="center">
                                        <p class="item-price-sm small-text-center">Dresses</p>
                                        <spacer size="5"></spacer>
                                        <p class="item-price-sm small-text-center">$89</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </columns>
                    </row>
                </container>
                <container class="no-bg product second">
                    <row>
                        <columns large="6">
                            <table class="prod-item">
                                <tbody>
                                <tr class="row">
                                    <td class="prod-item--first" valign="middle" align="center">
                                        <a href="#">
                                            <img src="http://layoutmain.esy.es/mail/img/prod11.png" align="center" class="float-center" alt="" height="">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="10px" style="font-size:10px;line-height:10px;"></td>
                                </tr>
                                <tr class="row">
                                    <td class="" align="center">
                                        <p class="item-price-sm small-text-center">Jeans</p>
                                        <spacer size="5"></spacer>
                                        <p class="item-price-sm small-text-center">$79</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </columns>
                        <columns large="6">
                            <table class="prod-item">
                                <tbody>
                                <tr class="row">
                                    <td class="prod-item--first" valign="middle" align="center">
                                        <a href="#">
                                            <img src="http://layoutmain.esy.es/mail/img/prod12.png" align="center" class="float-center" alt="" height="">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="10px" style="font-size:10px;line-height:10px;"></td>
                                </tr>
                                <tr class="row">
                                    <td class="" align="center">
                                        <p class="item-price-sm small-text-center">Footwear</p>
                                        <spacer size="5"></spacer>
                                        <p class="item-price-sm small-text-center">$59</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </columns>

                    </row>
                </container>
                <table align="center" class="container sep no-bg">
                    <tbody>
                        <tr class="row">
                            <td align="center" class="columns large-12">
                                <center>
                                    <img src="http://layoutmain.esy.es/mail/img/sep.png" class="float-center" alt="">
                                </center>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="container title-main no-bg">
                    <tbody>
                        <tr class="row">
                            <td class="small-12 large-12 columns">
                                <h2 class="head">TOP BRANDS</h2>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </center>
            <table class="bg-gray">
                <tbody>
                    <tr class="">
                        <td align="center">
                            <center>
                                <table class="spacer">
                                    <tbody>
                                        <tr>
                                            <td height="10px" style="font-size:10px;line-height:10px;">&#xA0;</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <container class="no-bg product logos first-logos">
                                    <row>
                                        <columns large="4">
                                            <table class="prod-item">
                                                <tbody>
                                                <tr class="row">
                                                    <td class="prod-item--first" valign="middle" align="center">
                                                        <a href="#"><img src="http://layoutmain.esy.es/mail/img/logos1.png" align="center" class="float-center" alt=""></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </columns>
                                        <columns large="4">
                                            <table class="prod-item">
                                                <tbody>
                                                <tr class="row">
                                                    <td class="prod-item--first" valign="middle" align="center">
                                                        <a href="#"><img src="http://layoutmain.esy.es/mail/img/logos2.png" align="center" class="float-center" alt=""></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </columns>
                                        <columns large="4">
                                            <table class="prod-item">
                                                <tbody>
                                                <tr class="row">
                                                    <td class="prod-item--first" valign="middle" align="center">
                                                        <a href="#"><img src="http://layoutmain.esy.es/mail/img/logos1.png" align="center" class="float-center" alt=""></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </columns>
                                    </row>
                                </container>
                                <container class="no-bg product logos">
                                    <row>
                                        <columns large="4">
                                            <table class="prod-item">
                                                <tbody>
                                                <tr class="row">
                                                    <td class="prod-item--first" valign="middle" align="center">
                                                        <a href="#"><img src="http://layoutmain.esy.es/mail/img/logos2.png" align="center" class="float-center" alt=""></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </columns>
                                        <columns large="4">
                                            <table class="prod-item">
                                                <tbody>
                                                <tr class="row">
                                                    <td class="prod-item--first" valign="middle" align="center">
                                                        <a href="#"><img src="http://layoutmain.esy.es/mail/img/logos1.png" align="center" class="float-center" alt=""></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </columns>
                                        <columns large="4">
                                            <table class="prod-item">
                                                <tbody>
                                                <tr class="row">
                                                    <td class="prod-item--first" valign="middle" align="center">
                                                        <a href="#"><img src="http://layoutmain.esy.es/mail/img/logos2.png" align="center" class="float-center" alt=""></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </columns>
                                    </row>
                                </container>
                                <table class="spacer">
                                    <tbody>
                                        <tr>
                                            <td height="10px" style="font-size:10px;line-height:10px;">&#xA0;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </center>
                        </td>
                    </tr>
                </tbody>
            </table>
            <container class="no-bg">
                <spacer size="10"></spacer>
            </container>
            <center>
                <table align="center" class="container sep no-bg">
                    <tbody>
                        <tr class="row">
                            <td align="center" class="columns large-12">
                                <center>
                                    <img src="http://layoutmain.esy.es/mail/img/sep.png" class="float-center" alt="">
                                </center>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <container class="no-bg">
                    <spacer size="10"></spacer>
                </container>
                <container class="no-bg news">
                    <row>
                        <columns large="4">
                            <table class="prod-item">
                                <tbody>
                                    <tr class="row">
                                        <td class="news-item" valign="middle" align="center">
                                            <a href="#">
                                                <img src="http://layoutmain.esy.es/mail/img/news1.png" align="center" class="float-center" alt="" height="">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="15px" style="font-size:15px;line-height:15px;"></td>
                                    </tr>
                                    <tr class="row">
                                        <td class="" align="center">
                                            <h3 class="news-name text-center">Creative</h3>
                                            <spacer size="15"></spacer>
                                            <p class="news-p small-text-center">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean </p>
                                            <spacer size="10"></spacer>
                                            <center>
                                                <button href="#">Shop now</button>
                                            </center>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </columns>
                        <columns large="4">
                            <table class="prod-item">
                                <tbody>
                                    <tr class="row">
                                        <td class="news-item" valign="middle" align="center">
                                            <a href="#">
                                                <img src="http://layoutmain.esy.es/mail/img/news1.png" align="center" class="float-center" alt="" height="">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="15px" style="font-size:15px;line-height:15px;"></td>
                                    </tr>
                                    <tr class="row">
                                        <td class="" align="center">
                                            <h3 class="news-name text-center">Modern</h3>
                                            <spacer size="15"></spacer>
                                            <p class="news-p small-text-center">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean </p>
                                            <spacer size="10"></spacer>
                                            <center>
                                                <button href="#">Shop now</button>
                                            </center>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </columns>
                        <columns large="4">
                            <table class="prod-item">
                                <tbody>
                                    <tr class="row">
                                        <td class="news-item" valign="middle" align="center">
                                            <a href="#">
                                                <img src="http://layoutmain.esy.es/mail/img/news1.png" align="center" class="float-center" alt="" height="">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="15px" style="font-size:15px;line-height:15px;"></td>
                                    </tr>
                                    <tr class="row">
                                        <td class="" align="center">
                                            <h3 class="news-name text-center">Trends</h3>
                                            <spacer size="15"></spacer>
                                            <p class="news-p small-text-center">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean </p>
                                            <spacer size="10"></spacer>
                                            <center>
                                                <button href="#">Shop now</button>
                                            </center>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </columns>
                    </row>
                </container>
                <container class="no-bg">
                    <spacer size="40"></spacer>
                </container>
                <table class="pic">
                    <tbody>
                        <tr class="row">
                            <td class="small-12 large-12 columns">
                                <a href="#">
                                    <img src="http://layoutmain.esy.es/mail/img/c3.png" alt="">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <container class="no-bg">
                    <spacer size="40"></spacer>
                </container>
                <container class="no-bg wrap3 news-row">
                    <row>
                        <columns large="6">
                            <h3 class="news-w small-text-center">Creative</h3>
                            <spacer size="15"></spacer>
                            <p class="news-p small-text-center">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis </p>
                            <spacer size="10"></spacer>
                            <button href="#" class="small-float-center">READ MORE</button>
                        </columns>
                        <columns large="6">
                            <a href="#">
                                <img src="http://via.placeholder.com/640x360" align="right" class="float-right small-float-center" alt="" height="">
                            </a>
                        </columns>
                    </row>
                </container>
                <container class="no-bg">
                    <spacer size="20"></spacer>
                </container>
                <container class="no-bg wrap3 news-row">
                    <row>
                        <columns large="6">
                            <h3 class="news-w small-text-center">Cash on Delivery</h3>
                            <spacer size="15"></spacer>
                            <p class="news-p small-text-center">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis </p>
                            <spacer size="10"></spacer>
                            <button href="#" class="small-float-center">READ MORE</button>
                        </columns>
                        <columns large="6">
                            <a href="#">
                                <img src="http://via.placeholder.com/640x360" align="right" class="float-right small-float-center" alt="" height="">
                            </a>
                        </columns>
                    </row>
                </container>
                <container class="no-bg">
                    <spacer size="20"></spacer>
                </container>
                <container class="no-bg wrap3 news-row">
                    <row>
                        <columns large="6">
                            <a href="#">
                                <img src="http://via.placeholder.com/640x360" align="left" class="float-left small-float-center" alt="" height="">
                            </a>
                        </columns>
                        <columns large="6" class="pad-r">
                            <h3 class="news-w small-text-center">Best location</h3>
                            <spacer size="15"></spacer>
                            <p class="news-p small-text-center">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis </p>
                            <spacer size="10"></spacer>
                            <button href="#" class="float-right small-float-center">READ MORE</button>
                        </columns>
                    </row>
                </container>
                <table class="spacer">
                    <tbody>
                        <tr>
                            <td height="20px" style="font-size:20px;line-height:20px;">&#xA0;</td>
                        </tr>
                    </tbody>
                </table>
                <container class="no-bg wrap3 news-row">
                    <row>
                        <columns large="6">
                            <a href="#">
                                <img src="http://via.placeholder.com/640x360" align="left" class="float-left small-float-center" alt="" height="">
                            </a>
                        </columns>
                        <columns large="6" class="pad-r">
                            <h3 class="news-w small-text-center">Shopping without limits</h3>
                            <spacer size="15 small-text-center"></spacer>
                            <p class="news-p">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis </p>
                            <spacer size="10"></spacer>
                            <button href="#" class="float-right small-float-center">READ MORE</button>
                        </columns>
                    </row>
                </container>
                <container class="no-bg">
                    <spacer size="40"></spacer>
                </container>
            </center>
            <table class="bg-second">
                <tbody>
                    <tr>
                        <td>
                            <center>
                                <container class="no-bg wrap3 news-row">
                                    <row>
                                        <columns large="6">
                                            <container class="no-bg">
                                                <spacer size="30"></spacer>
                                            </container>
                                            <p class="tiny_mid text-center">Reach Us</p>
                                            <p class="sm-text text-center">35, Everest Avenue, Lousville, USA</p>
                                            <p class="sm-text text-center"><a href="#" class="link">www.sitename.com</a></p>
                                            <p class="sm-text text-center"><a href="tel:+123456789" class="link">+123456789</a></p>
                                            <p class="sm-text text-center"><a href="mailto:mailid@domain.com" class="link">mailid@domain.com</a></p>
                                        </columns>
                                        <columns large="6">
                                            <container class="no-bg">
                                                <spacer size="30"></spacer>
                                            </container>
                                            <p class="tiny_mid text-center">Shop</p>
                                            <p class="sm-text text-center"><a href="#" class="link">Men’s Collection</a></p>
                                            <p class="sm-text text-center"><a href="#" class="link">Woman’s Collection</a></p>
                                            <p class="sm-text text-center"><a href="#" class="link">Kid’s Collection</a></p>
                                            <p class="sm-text text-center"><a href="#" class="link">Shoes and Glass</a></p>
                                            <p class="sm-text text-center"><a href="#" class="link">Gift Carts</a></p>
                                        </columns>
                                    </row>
                                </container>
                                <container class="no-bg">
                                    <spacer size="40"></spacer>
                                </container>
                                <container class="no-bg wrap3 news-row">
                                    <row>
                                        <columns large="6">
                                            <p class="tiny text-center">&copy; 2017. All Rights R eserved</p>
                                        </columns>
                                        <columns large="6" class="text-center">
                                            <p class="tiny text-center"><a href="#" class="tiny">Unsubscribe</a></p>
                                        </columns>
                                    </row>
                                </container>
                                <table class="spacer">
                                    <tbody>
                                        <tr>
                                            <td height="20px" style="font-size:20px;line-height:20px;">&#xA0;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </center>
                        </td>
                    </tr>
                </tbody>
            </table>
            <center>
                <container class="no-bg wrap3 logo-footer">
                    <row>
                        <columns large="12">
                            <a href="#" class="small-float-center"><img src="http://layoutmain.esy.es/mail/img/logo-c.png" alt="logo"></a>
                        </columns>
                    </row>
                </container>
                <table class="spacer">
                    <tbody>
                        <tr>
                            <td height="15px" style="font-size:15px;line-height:15px;">&#xA0;</td>
                        </tr>
                    </tbody>
                </table>
            </center>
        </td>
    </tr>
</table>
</body>
</html>